{block head}
    <script type="text/javascript" src="{$basePath}/js/jscolor/jscolor.js"></script>
{/block}
{block content}

    <div id="wrapper">
        <div class="getting-started generatecss">
            <div class="section-02">
                <div class="container">
                    <div class="row jumbotron">
                        <div class="span-medium-16">
                            <p><span class="first-text">Online CSS generate</span><br>wich makes your life easier<br>You can make quikly easy website in Pro quality.</p>
                        </div>
                        <div class="span-medium-8 text-right">
                            <span class="bowtie bowtie-logoiconbowtie color-white" style="font-size: 155px;"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container padding-bottom-50">
                <div class="row">
                    <div class="span-large-8">
                        <div id="top-bound"></div>
                        <div id="left">
                            <div id="sidebar">
                                <div class="side-bar">
                                    <input type="checkbox" id="show-sidebar">
                                    <label for="show-sidebar" class="show-side">Navigation<span class="bowtie bowtie-sipka"></span></label>
                                    <ul class="sidebar">
                                        <!--<li><a href="#download-top-navigate" class="navigation-link">Download</a></li>-->
                                        <li><a href="#select-modules-navigate" class="navigation-link">Select modules</a></li>
                                        <li><a href="#colors-navigate" class="navigation-link">Colors</a></li>
                                        <li><a href="#grid-navigate" class="navigation-link">Grid System</a></li>
                                        <li><a href="#border-navigate" class="navigation-link">Border radius</a></li>
                                        <li><a href="#typography-navigate" class="navigation-link">Typography</a></li>
                                        <!--<li><a href="#feature-navigate" class="navigation-link">typography</a></li>-->
                                        <li><a href="#download-bottom-navigate" class="navigation-link">Download</a></li>
                                        <!--<li><a href="#-navigate" class="navigation-link">Side</a></li>-->
                                        <li><a href="#" class="navigation-link">Back to Top</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="span-large-16">
                        <div class="section-item-main">
                            <h2>Generate CSS</h2>
                            <hr/>
                            <p></p>
                            {*<div class="section-item">
                                <h3 id="download-top-navigate">Download</h3>
                                <p></p>
                                <a class="button button-secondary" href="bowtie-1.0.0.zip">Download <span class="bowtie bowtie-download"></span></a>
                            </div>*}


                            <form n:name = 'generateCssForm' name = 'main_form' class="main-form primary-form">

                                <div class="section-item-main">
                                    <div class="section-item section-items" id="select-modules-navigate">
                                        <h3>Select modules</h3>
                                        <p></p>
                                    </div>
                                    <div class='main-form primary-form select-modules-checkboxes'>
                                        <div class="row">
                                            <div class="form-checkbox">
                                                <div>
                                                    <input n:name = "input1" id="input1" type="checkbox" checked>
                                                    <label n:name = "input1" class="checkbox" for="input1">Alerts</label>
                                                </div><div>
                                                    <input n:name = "input2" id="input2" type="checkbox" checked>
                                                    <label n:name = "input2" class="checkbox" for="input2">Grid</label>
                                                </div><div>
                                                    <input n:name = "input3" id="input3" type="checkbox" checked>
                                                    <label n:name = "input3" class="checkbox" for="input3">Menu</label>
                                                </div><div>
                                                    <input n:name = "input4" id="input4" type="checkbox" checked>
                                                    <label n:name = "input4" class="checkbox" for="input4">Before&After widget</label>
                                                </div><div>
                                                    <input n:name = "input5" id="input5" type="checkbox" checked>
                                                    <label n:name = "input5" class="checkbox" for="input5">Borders</label>
                                                </div><div>
                                                    <input n:name = "input6" id="input6" type="checkbox" checked>
                                                    <label n:name = "input6" class="checkbox" for="input6">Buttons</label>
                                                </div><div>
                                                    <input n:name = "input7" id="input7" type="checkbox" checked>
                                                    <label n:name = "input7" class="checkbox" for="input7">Checkbox</label>
                                                </div><div>
                                                    <input n:name = "input8" id="input8" type="checkbox" checked>
                                                    <label n:name = "input8" class="checkbox" for="input8">Dropdown</label>
                                                </div><div>
                                                    <input n:name = "input9" id="input9" type="checkbox" checked>
                                                    <label n:name = "input9" class="checkbox" for="input9">Checkbox Filter</label>
                                                </div><div>
                                                    <input n:name = "input10" id="input10" type="checkbox" checked>
                                                    <label n:name = "input10" class="checkbox" for="input10">Radio Filter</label>
                                                </div><div>
                                                    <input n:name = "input11" id="input11" type="checkbox" checked>
                                                    <label n:name = "input11" class="checkbox" for="input11">Fonts</label>
                                                </div><div>
                                                    <input n:name = "input12" id="input12" type="checkbox" checked>
                                                    <label n:name = "input12" class="checkbox" for="input12">Forms</label>
                                                </div><div>
                                                    <input n:name = "input13" id="input13" type="checkbox" checked>
                                                    <label n:name = "input13" class="checkbox" for="input13">Harmonica</label>
                                                </div><div>
                                                    <input n:name = "input14" id="input14" type="checkbox" checked>
                                                    <label n:name = "input14" class="checkbox" for="input14">Images</label>
                                                </div><div>
                                                    <input n:name = "input15" id="input15" type="checkbox" checked>
                                                    <label n:name = "input15" class="checkbox" for="input15">IOS Checkbox</label>
                                                </div><div>
                                                    <input n:name = "input16" id="input16" type="checkbox" checked>
                                                    <label n:name = "input16" class="checkbox" for="input16">Spacing</label>
                                                </div><div>
                                                    <input n:name = "input17" id="input17" type="checkbox" checked>
                                                    <label n:name = "input17" class="checkbox" for="input17">Navbar</label>
                                                </div><div>
                                                    <input n:name = "input18" id="input18" type="checkbox" checked>
                                                    <label n:name = "input18" class="checkbox" for="input18">Tabs</label>
                                                </div><div>
                                                    <input n:name = "input19" id="input19" type="checkbox" checked>
                                                    <label n:name = "input19" class="checkbox" for="input19">Modals</label>
                                                </div><div>
                                                    <input n:name = "input20" id="input20" type="checkbox" checked>
                                                    <label n:name = "input20" class="checkbox" for="input20">Tables</label>
                                                </div><div>
                                                    <input n:name = "input21" id="input21" type="checkbox" checked>
                                                    <label n:name = "input21" class="checkbox" for="input21">Rating</label>
                                                </div><div>
                                                    <input n:name = "input22" id="input22" type="checkbox" checked>
                                                    <label n:name = "input22" class="checkbox" for="input22">Tooltip</label>
                                                </div><div>
                                                    <input n:name = "input23" id="input23" type="checkbox" checked>
                                                    <label n:name = "input23" class="checkbox" for="input23">Popover</label>
                                                </div><div>
                                                    <input n:name = "input24" id="input24" type="checkbox" checked>
                                                    <label n:name = "input24" class="checkbox" for="input24">Tags</label>
                                                </div><div>
                                                    <input n:name = "input25" id="input25" type="checkbox" checked>
                                                    <label n:name = "input25" class="checkbox" for="input25">Slider</label>
                                                </div><div>
                                                    <input n:name = "input26" id="input26" type="checkbox" checked>
                                                    <label n:name = "input26" class="checkbox" for="input26">Pagination</label>
                                                </div><div>
                                                    <input n:name = "input27" id="input27" type="checkbox" checked>
                                                    <label n:name = "input27" class="checkbox" for="input27">Notification</label>
                                                </div><div>
                                                    <input n:name = "input28" id="input28" type="checkbox" checked>
                                                    <label n:name = "input28" class="checkbox" for="input28">Timeline</label>
                                                </div><div>
                                                    <input n:name = "input29" id="input29" type="checkbox" checked>
                                                    <label n:name = "input29" class="checkbox" for="input29">Login page</label>
                                                </div><div>
                                                    <input n:name = "input30" id="input30" type="checkbox" checked>
                                                    <label n:name = "input30" class="checkbox" for="input30">Widget box</label>
                                                </div>
                                                <div>
                                                    <input n:name = "input71" id="input71" type="checkbox" checked>
                                                    <label n:name = "input71" class="checkbox" for="input71">Tiecons</label>
                                                </div>
                                                <div>
                                                    <input n:name = "input72" id="input72" type="checkbox" checked>
                                                    <label n:name = "input72" class="checkbox" for="input72">Pre code</label>
                                                </div>
                                                <div>
                                                    <input n:name = "input73" id="input73" type="checkbox" checked>
                                                    <label n:name = "input73" class="checkbox" for="input73">Administration</label>
                                                </div>
                                                <!--<div>-->
                                                    <!--<input n:name = "input" id="input" type="checkbox" checked>-->
                                                    <!--<label n:name = "input" class="checkbox" for="input">box</label>-->
                                                <!--</div>-->

                                                    <input n:name = "input31" type="checkbox" name="all" id="all" checked>
                                                    <label n:name = "input31" class="checkbox check-all" for="all">Check/Uncheck All</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section-item-main">
                                    <div class="section-item section-items" id="colors-navigate">
                                        <h3>Colors</h3>
                                        <p></p>
                                    </div>
                                    <div class="main-form primary-form">
                                        <div class="row">
                                            <div class="span-large-8">
                                                <label n:name = 'input32'>Primary color:</label>
                                                <input n:name = 'input32' type="text" value="#00aeef" class="row color { hash:true, pickerPosition:'top' }">
                                            </div>
                                            <div class="span-large-8">
                                                <label n:name = 'input33'>Secondary color:</label>
                                                <input n:name = 'input33' type="text" value="#505050" class="row color { hash:true, pickerPosition:'top' }">
                                            </div>
                                            <div class="span-large-8">
                                                <label n:name = 'input34'>Tertiary color:</label>
                                                <input n:name = 'input34' type="text" value="#1F3A93" class="row color { hash:true, pickerPosition:'top' }">
                                            </div>
                                            <div class="span-large-24"><hr/></div>
                                        </div>
                                        <div class="row">
                                            <div class="span-large-6">
                                                <label n:name = 'input35'>Info color:</label>
                                                <input n:name = 'input35' type="text" value="#2ba6cb" class="row color { hash:true, pickerPosition:'top' }">
                                            </div>
                                            <div class="span-large-6">
                                                <label n:name = 'input36'>Success color:</label>
                                                <input n:name = 'input36' type="text" value="#5da423" class="row color { hash:true, pickerPosition:'top' }">
                                            </div>
                                            <div class="span-large-6">
                                                <label n:name = 'input37'>Warning color:</label>
                                                <input n:name = 'input37' type="text" value="#FF6600" class="row color { hash:true, pickerPosition:'top' }">
                                            </div>
                                            <div class="span-large-6">
                                                <label n:name = 'input38'>Danger color:</label>
                                                <input n:name = 'input38' type="text" value="#FF0000" class="row color { hash:true, pickerPosition:'top' }">
                                            </div>
                                            <div class="span-large-24"><hr/></div>
                                        </div>
                                        <div class="row">
                                            <div class="span-large-6">
                                                <label n:name = 'input39'>Red color:</label>
                                                <input n:name = 'input39' type="text" value="#FF0000" class="row color { hash:true, pickerPosition:'top' }">
                                            </div>
                                            <div class="span-large-6">
                                                <label n:name = 'input40'>Green color:</label>
                                                <input n:name = 'input40' type="text" value="#00FF00" class="row color { hash:true, pickerPosition:'top' }">
                                            </div>
                                            <div class="span-large-6">
                                                <label n:name = 'input41'>Blue color:</label>
                                                <input n:name = 'input41' type="text" value="#0000FF" class="row color { hash:true, pickerPosition:'top' }">
                                            </div>
                                            <div class="span-large-6">
                                                <label n:name = 'input42'>Yellow color:</label>
                                                <input n:name = 'input42' type="text" value="#edcf53" class="row color { hash:true, pickerPosition:'top' }">
                                            </div>
                                            <div class="span-large-6">
                                                <label n:name = 'input43'>Pink color:</label>
                                                <input n:name = 'input43' type="text" value="#FF66CC" class="row color { hash:true, pickerPosition:'top' }">
                                            </div>
                                            <div class="span-large-6">
                                                <label n:name = 'input44'>Brown color:</label>
                                                <input n:name = 'input44' type="text" value="#8A5826" class="row color { hash:true, pickerPosition:'top' }">
                                            </div>
                                            <div class="span-large-6">
                                                <label n:name = 'input45'>Orange color:</label>
                                                <input n:name = 'input45' type="text" value="#FF9933" class="row color { hash:true, pickerPosition:'top' }">
                                            </div>
                                            <div class="span-large-6">
                                                <label n:name = 'input46'>Purple color:</label>
                                                <input n:name = 'input46' type="text" value="#751975" class="row color { hash:true, pickerPosition:'top' }">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section-item-main">
                                    <div class="section-item section-items" id="grid-navigate">
                                        <h3>Grid System</h3>
                                        <p></p>
                                    </div>
                                    <div class="main-form primary-form">
                                        <div class="row">
                                            <div class="span-large-12">
                                                <label n:name = 'input47'>Number of columns:</label>
                                                <input n:name = 'input47' type="number" min="1" step="1" value="24" class="row">
                                            </div>
                                            <div class="span-large-12">
                                                <div class="form-select" style="height: 70px;">
                                                    <label n:name = 'input48' class="label">Generate responsive columns
                                                        <div class="select-style">
                                                            <select n:name = 'input48'></select>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="span-large-12">
                                                <label n:name = 'input49'>Vertical PADDING for each column:</label>
                                                <input n:name = 'input49' type="text" placeholder="0px" class="row">
                                            </div>
                                            <div class="span-large-12">
                                                <label n:name = 'input50'>Horizontal PADDING for each column:</label>
                                                <input n:name = 'input50' type="text" placeholder="20px" class="row">
                                            </div>
                                            <div class="span-large-12">
                                                <label n:name = 'input51'>Horizontal MARGIN for each column:</label>
                                                <input n:name = 'input51' type="text" placeholder="0px" class="row">
                                            </div>
                                            <div class="span-large-12">
                                                <label n:name = 'input52'>Horizontal MARGIN for each column:</label>
                                                <input n:name = 'input52' type="text" placeholder="0px" class="row">
                                            </div>
                                            <div class="span-large-24"><hr/></div>
                                        </div>
                                        <div class="row">
                                            <div class="span-large-8">
                                                <label n:name = 'input53'>Brackpoint MINI:</label>
                                                <input n:name = 'input53' type="text" placeholder="320px" class="row">
                                            </div>
                                            <div class="span-large-8">
                                                <label n:name = 'input54'>Brackpoint SMALL:</label>
                                                <input n:name = 'input54' type="text" placeholder="480px" class="row">
                                            </div>
                                            <div class="span-large-8">
                                                <label n:name = 'input55'>Brackpoint MEDIUM:</label>
                                                <input n:name = 'input55' type="text" placeholder="768px" class="row">
                                            </div>
                                            <div class="span-large-8">
                                                <label n:name = 'input56'>Brackpoint LARGE:</label>
                                                <input n:name = 'input56' type="text" placeholder="1024px" class="row">
                                            </div>
                                            <div class="span-large-8">
                                                <label n:name = 'input57'>Brackpoint XLARGE:</label>
                                                <input n:name = 'input57' type="text" placeholder="1200px" class="row">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="section-item-main">
                                    <div class="section-item section-items" id="border-navigate">
                                        <h3>Border radius</h3>
                                        <p></p>
                                    </div>
                                    <div class="main-form primary-form">
                                        <div class="row">
                                            <div class="span-large-8">
                                                <label n:name = 'input58'>Small radius:</label>
                                                <input n:name = 'input58' type="text" placeholder="3px" class="row">
                                            </div>
                                            <div class="span-large-8">
                                                <label n:name = 'input59'>Base radius:</label>
                                                <input n:name = 'input59' type="text" placeholder="5px" class="row">
                                            </div>
                                            <div class="span-large-8">
                                                <label n:name = 'input60'>Large radius:</label>
                                                <input n:name = 'input60' type="text" placeholder="10px" class="row">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="section-item-main">
                                    <div class="section-item section-items" id="typography-navigate">
                                        <h3>Typography</h3>
                                        <p></p>
                                    </div>
                                    <div class="main-form primary-form">
                                        <div class="row">
                                            <div class="span-large-8">
                                                <label n:name = 'input61'>Font size:</label>
                                                <input n:name = 'input61' type="text" placeholder="14px" class="row">
                                            </div>
                                            <div class="span-large-8">
                                                <label n:name = 'input62'>Headings line height:</label>
                                                <input n:name = 'input62' type="text" placeholder="1.1" class="row">
                                            </div>
                                            <div class="span-large-8">
                                                <label n:name = 'input63'>Base line height:</label>
                                                <input n:name = 'input63' type="text" placeholder="1.618" class="row">
                                            </div>
                                            <div class="span-large-12">
                                                <div class="form-select">
                                                    <label n:name = 'input64' class="label">Font family base
                                                        <div class="select-style">
                                                            <select n:name = 'input64'></select>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                            <!--<div class="span-large-8">-->
                                                <!--<label n:name = 'input65'>Font family base:</label>-->
                                                <!--<input n:name = 'input65' type="text" placeholder="@font-family-sans-serif" class="row">-->
                                            <!--</div>-->
                                            <div class="span-large-12">
                                                <label n:name = 'input66'>Font family, sans serif:</label>
                                                <input n:name = 'input66' type="text" placeholder="'Arial', sans-serif" class="row">
                                            </div>
                                            <div class="span-large-12">
                                                <label n:name = 'input67'>Font family, serif:</label>
                                                <input n:name = 'input67' type="text" placeholder="Georgia, 'Times New Roman', Times, serif" class="row">
                                            </div>
                                            <div class="span-large-12">
                                                <label n:name = 'input68'>Font family, monospace:</label>
                                                <input n:name = 'input68' type="text" placeholder="Menlo, Monaco, Consolas, 'Courier New, monospace" class="row">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!--<div class="section-item-main">-->
                                    <!--<div class="section-item">-->
                                        <!--<h3 id="feature-navigate">Feature</h3>-->
                                        <!--<p></p>-->
                                    <!--</div>-->
                                    <!--<form class="main-form primary-form">-->
                                        <!--<div class="row">-->
                                            <!--<div class="span-large-8">-->
                                                <!--<label>color:</label>-->
                                                <!--<input type="text" name="name" placeholder="00aeef" class="row">-->
                                            <!--</div>-->
                                            <!--<div class="span-large-8">-->
                                                <!--<label>color:</label>-->
                                                <!--<input type="text" name="name" placeholder="505050" class="row">-->
                                            <!--</div>-->
                                            <!--<div class="span-large-8">-->
                                                <!--<label>color:</label>-->
                                                <!--<input type="text" name="name" placeholder="1F3A93" class="row">-->
                                            <!--</div>-->
                                            <!--<div class="span-large-24"><hr/></div>-->
                                        <!--</div>-->
                                    <!--</form>-->
                                <!--</div>-->

                                <div class="section-item-main section-items">
                                    <div class="section-item">
                                        <input n:name= 'send' value = 'Download' id="download-bottom-navigate" class="button button-secondary" style="width: 100%;padding: 15px 10px; margin-top: 40px">

                                        {*<a href="#" onclick = "document.forms['generateCssForm'].submit();return false;" class="button button-secondary">Download <span class="bowtie bowtie-download"></span></a>*}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    $( ".navigation-link" ).click(function() {
      $( "#show-sidebar" ).attr('checked', false);
    });
</script>
{/block}