{block content}
    <div class="homepage">
        <div class="section-02">
            <div class="container">
                <div class="row">
                    <div class="span-medium-24 text-center jumbotron">
                        <span class="bowtie bowtie-logoiconbowtie color-white line-height-17" style="font-size: 244px;"></span>
                        <p><span class="first-text">CSS Framework</span><br>wich makes your life easier<br>You can make quikly easy website in Pro quality.</p>
                        <a class="button button-primary" href="bowtie-1.0.0.zip">Download <span class="bowtie bowtie-download"></span></a>
                        <p class="second-text">What you can do with Bowtie</p>
                        <p class="last-text">Wich makes your life easier You can make quikly easy website in Pro quality. Wich makes your life easier You can make quikly easy website in Pro quality.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span-medium-8">
                        <img src="img/icons.jpg" alt="Vector Icons" class="img-responsive"/>
                        <p class="vector-icons-head">Vector icons</p>
                        <p class="vector-icons-text">Wich makes your life easier You can make quikly easy website in Pro qulity. Wich makes your life easier You can make quik  ly easy website in Pro quality.</p>
                    </div>
                    <div class="span-medium-8">
                        <img src="img/less.jpg" alt="Vector Icons" class="img-responsive"/>
                        <p class="vector-icons-head">Easy editing</p>
                        <p class="vector-icons-text">Wich makes your life easier You can make quikly easy website in Pro qulity. Wich makes your life easier You can make quik  ly easy website in Pro quality.</p>
                    </div>
                    <div class="span-medium-8">
                        <img src="img/devices.jpg" alt="Vector Icons" class="img-responsive"/>
                        <p class="vector-icons-head">All device support</p>
                        <p class="vector-icons-text">Wich makes your life easier You can make quikly easy website in Pro qulity. Wich makes your life easier You can make quik  ly easy website in Pro quality.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-03 background-primary">
            <div class="container">
                <div class="row">
                    <div class="span-medium-12 text-right">
                        <p>What else Bowtie does?</p>
                    </div>
                    <div class="span-medium-12 text-left">
                        <a class="button button-primary" n:href="Features:">More features &raquo;</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-04">
            <div class="container">
                <div class="row">
                    <div class="span-medium-24">
                        <div class="harmonica text-left">
                            <p class="harmonica-head text-center">Frequently Asket Questions</p>
                            <input type="radio" id="harmonica-01" name="list"/>
                            <div class="main-panel">
                                <label for="harmonica-01">Harmonica 01
                                    <span class="pull-right bowtie bowtie-sipka"></span>
                                </label>
                                <div class="show-harmonica">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolor error placeat quae reprehenderit. Atque cum eos esse excepturi iste praesentium provident rem sint tempora vitae. Ad minima quam repellat!</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci assumenda at dolores enim impedit in ipsam magni nostrum odit officiis, pariatur, possimus qui quia tempore ullam, velit veniam voluptas voluptate?</p>
                                </div>
                            </div>

                            <input type="radio" id="harmonica-02" name="list"/>
                            <div class="main-panel">
                                <label for="harmonica-02">Harmonica 02
                                    <span class="pull-right bowtie bowtie-sipka"></span>
                                </label>
                                <div class="show-harmonica">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolor error placeat quae reprehenderit. Atque cum eos esse excepturi iste praesentium provident rem sint tempora vitae. Ad minima quam repellat!</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci assumenda at dolores enim impedit in ipsam magni nostrum odit officiis, pariatur, possimus qui quia tempore ullam, velit veniam voluptas voluptate?</p>
                                </div>
                            </div>

                            <input type="radio" id="harmonica-03" name="list"/>
                            <div class="main-panel">
                                <label for="harmonica-03">Harmonica 03
                                    <span class="pull-right bowtie bowtie-sipka"></span>
                                </label>
                                <div class="show-harmonica">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolor error placeat quae reprehenderit. Atque cum eos esse excepturi iste praesentium provident rem sint tempora vitae. Ad minima quam repellat!</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci assumenda at dolores enim impedit in ipsam magni nostrum odit officiis, pariatur, possimus qui quia tempore ullam, velit veniam voluptas voluptate?</p>
                                </div>
                            </div>

                            <input type="radio" id="harmonica-04" name="list"/>
                            <div class="main-panel">
                                <label for="harmonica-04">Harmonica 04
                                    <span class="pull-right bowtie bowtie-sipka"></span>
                                </label>
                                <div class="show-harmonica">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolor error placeat quae reprehenderit. Atque cum eos esse excepturi iste praesentium provident rem sint tempora vitae. Ad minima quam repellat!</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci assumenda at dolores enim impedit in ipsam magni nostrum odit officiis, pariatur, possimus qui quia tempore ullam, velit veniam voluptas voluptate?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="section-05" style="display: none;">-->
        <div class="section-05">
            <div class="container">
                <div class="row">
                    <div class="span-medium-24"><p class="text-center">Made with Bowtie</p></div>
                </div>
                <div class="row">
                    <div class="span-medium-6 text-center"><a href="#"><img src="img/devices.jpg" alt="example-01" class="img-responsive"/></a></div>
                    <div class="span-medium-6 text-center"><a href="#"><img src="img/devices.jpg" alt="example-01" class="img-responsive"/></a></div>
                    <div class="span-medium-6 text-center"><a href="#"><img src="img/devices.jpg" alt="example-01" class="img-responsive"/></a></div>
                    <div class="span-medium-6 text-center"><a href="#"><img src="img/devices.jpg" alt="example-01" class="img-responsive"/></a></div>
                </div>
                <div class="row small-hidden">
                    <div class="span-medium-6 text-center"><a href="#"><img src="img/devices.jpg" alt="example-01" class="img-responsive"/></a></div>
                    <div class="span-medium-6 text-center"><a href="#"><img src="img/devices.jpg" alt="example-01" class="img-responsive"/></a></div>
                    <div class="span-medium-6 text-center"><a href="#"><img src="img/devices.jpg" alt="example-01" class="img-responsive"/></a></div>
                    <div class="span-medium-6 text-center"><a href="#"><img src="img/devices.jpg" alt="example-01" class="img-responsive"/></a></div>
                </div>
            </div>
        </div>
    </div>

{/block}