{block content}

<div id="wrapper">

<div class="getting-started generatecss">
    <div class="section-01 clearfix">
        <div class="menu only-main-menu static">
            <div class="container">
                <nav class="row">
                    <div class="head">
                        <a href="index.html"><span class="bowtie bowtie-logobowtie color-tertiary font-60 line-height-15"></span></a>
                    </div>
                    <div class="head-content">
                        <div class="sub-main-menu">
                            <label for="show-main-menu" class="show-main-menu">
                                <span class="tiecons tiecons-menu-normal"></span>
                            </label>
                            <input type="checkbox" id="show-main-menu" hidden>
                            <ul class="main-menu">
                                <li><a n:href="Homepage:">Home</a></li>
                                <li><a n:href="GettingStarted:">Getting started</a></li>
                                <li><a n:href="Features:">Features</a></li>
                                <li><a n:href="Documentation:">Documentation</a></li>
                                <li><a n:href="GenerateCss:" class="active">Generate CSS</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="section-02">
        <div class="container">
            <div class="row jumbotron">
                <div class="span-medium-16">
                    <p><span class="first-text">Online CSS generate</span><br>wich makes your life easier<br>You can make quikly easy website in Pro quality.</p>
                </div>
                <div class="span-medium-8 text-right">
                    <span class="bowtie bowtie-logoiconbowtie color-white" style="font-size: 155px;"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="container padding-bottom-50">
        <div class="row">
            <div class="span-large-8">
                <div id="top-bound"></div>
                <div id="left">
                    <div id="sidebar">
                        <div class="side-bar">
                            <input type="checkbox" id="show-sidebar">
                            <label for="show-sidebar" class="show-side">Navigation<span class="bowtie bowtie-sipka"></span></label>
                            <ul class="sidebar">
                                <li><a href="#download-top-navigate">Download</a></li>
                                <li><a href="#select-modules-navigate">Select modules</a></li>
                                <li><a href="#colors-navigate">Colors</a></li>
                                <li><a href="#grid-navigate">Grid System</a></li>
                                <li><a href="#border-navigate">Border radius</a></li>
                                <li><a href="#typography-navigate">Typography</a></li>
                                <!--<li><a href="#feature-navigate">typography</a></li>-->
                                <li><a href="#download-bottom-navigate">Download</a></li>
                                <!--<li><a href="#-navigate">Side</a></li>-->
                                <li><a href="#">Back to Top</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="span-large-16">
                <div class="section-item-main">
                    <h2>Generate CSS</h2>
                    <hr/>
                    <p></p>
                    <div class="section-item">
                        <h3 id="download-top-navigate">Download</h3>
                        <p></p>
                        <a class="button button-secondary" href="bowtie-1.0.0.zip">Download <span class="bowtie bowtie-download"></span></a>
                    </div>

                    <div class="section-item-main">
                        <div class="section-item">
                            <h3 id="select-modules-navigate">Select modules</h3>
                            <p></p>
                        </div>
                        <form class="main-form primary-form select-modules-checkboxes">
                            <div class="row">
                                <div class="form-checkbox">
                                    <div>
                                        <input id="Option01" type="checkbox" checked>
                                        <label class="checkbox" for="Option01">Alerts</label>
                                </div><div>
                                    <input id="Option02" type="checkbox" checked>
                                    <label class="checkbox" for="Option02">Grid</label>
                                </div><div>
                                    <input id="Option03" type="checkbox" checked>
                                    <label class="checkbox" for="Option03">Menu</label>
                                </div><div>
                                    <input id="Option04" type="checkbox" checked>
                                    <label class="checkbox" for="Option04">Before&After widget</label>
                                </div><div>
                                    <input id="Option05" type="checkbox" checked>
                                    <label class="checkbox" for="Option05">Borders</label>
                                </div><div>
                                    <input id="Option06" type="checkbox" checked>
                                    <label class="checkbox" for="Option06">Buttons</label>
                                </div><div>
                                    <input id="Option07" type="checkbox" checked>
                                    <label class="checkbox" for="Option07">Checkbox</label>
                                </div><div>
                                    <input id="Option08" type="checkbox" checked>
                                    <label class="checkbox" for="Option08">Dropdown</label>
                                </div><div>
                                    <input id="Option09" type="checkbox" checked>
                                    <label class="checkbox" for="Option09">Checkbox Filter</label>
                                </div><div>
                                    <input id="Option10" type="checkbox" checked>
                                    <label class="checkbox" for="Option10">Radio Filter</label>
                                </div><div>
                                    <input id="Option11" type="checkbox" checked>
                                    <label class="checkbox" for="Option11">Fonts</label>
                                </div><div>
                                    <input id="Option12" type="checkbox" checked>
                                    <label class="checkbox" for="Option12">Forms</label>
                                </div><div>
                                    <input id="Option13" type="checkbox" checked>
                                    <label class="checkbox" for="Option13">Harmonica</label>
                                </div><div>
                                    <input id="Option14" type="checkbox" checked>
                                    <label class="checkbox" for="Option14">Images</label>
                                </div><div>
                                    <input id="Option15" type="checkbox" checked>
                                    <label class="checkbox" for="Option15">IOS Checkbox</label>
                                </div><div>
                                    <input id="Option16" type="checkbox" checked>
                                    <label class="checkbox" for="Option16">Spacing</label>
                                </div><div>
                                    <input id="Option17" type="checkbox" checked>
                                    <label class="checkbox" for="Option17">Navbar</label>
                                </div><div>
                                    <input id="Option18" type="checkbox" checked>
                                    <label class="checkbox" for="Option18">Tabs</label>
                                </div><div>
                                    <input id="Option19" type="checkbox" checked>
                                    <label class="checkbox" for="Option19">Modals</label>
                                </div><div>
                                    <input id="Option20" type="checkbox" checked>
                                    <label class="checkbox" for="Option20">Tables</label>
                                </div><div>
                                    <input id="Option21" type="checkbox" checked>
                                    <label class="checkbox" for="Option21">Rating</label>
                                </div><div>
                                    <input id="Option22" type="checkbox" checked>
                                    <label class="checkbox" for="Option22">Tooltip</label>
                                </div><div>
                                    <input id="Option23" type="checkbox" checked>
                                    <label class="checkbox" for="Option23">Popover</label>
                                </div><div>
                                    <input id="Option24" type="checkbox" checked>
                                    <label class="checkbox" for="Option24">Tags</label>
                                </div><div>
                                    <input id="Option25" type="checkbox" checked>
                                    <label class="checkbox" for="Option25">Slider</label>
                                </div><div>
                                    <input id="Option26" type="checkbox" checked>
                                    <label class="checkbox" for="Option26">Pagination</label>
                                </div><div>
                                    <input id="Option27" type="checkbox" checked>
                                    <label class="checkbox" for="Option27">Notification</label>
                                </div><div>
                                    <input id="Option28" type="checkbox" checked>
                                    <label class="checkbox" for="Option28">Timeline</label>
                                </div><div>
                                    <input id="Option29" type="checkbox" checked>
                                    <label class="checkbox" for="Option29">Login page</label>
                                </div><div>
                                    <input id="Option30" type="checkbox" checked>
                                    <label class="checkbox" for="Option30">Widget box</label>
                                </div>
                                    <input type="checkbox" name="all" id="all" checked>
                                    <label class="checkbox check-all" for="all">Check/Uncheck All</label>
                            </div>
                                </div>
                        </form>
                    </div>
                    <div class="section-item-main">
                        <div class="section-item">
                            <h3 id="colors-navigate">Colors</h3>
                            <p></p>
                        </div>
                        <form class="main-form primary-form">
                            <div class="row">
                                <div class="span-large-8">
                                    <label>Primary color:</label>
                                    <input type="text" name="name" placeholder="#00aeef" class="row">
                                </div>
                                <div class="span-large-8">
                                    <label>Secondary color:</label>
                                    <input type="text" name="name" placeholder="#505050" class="row">
                                </div>
                                <div class="span-large-8">
                                    <label>Tertiary color:</label>
                                    <input type="text" name="name" placeholder="#1F3A93" class="row">
                                </div>
                                <div class="span-large-24"><hr/></div>
                            </div>
                            <div class="row">
                                <div class="span-large-6">
                                    <label>Info color:</label>
                                    <input type="text" name="name" placeholder="#2ba6cb" class="row">
                                </div>
                                <div class="span-large-6">
                                    <label>Success color:</label>
                                    <input type="text" name="name" placeholder="#5da423" class="row">
                                </div>
                                <div class="span-large-6">
                                    <label>Warning color:</label>
                                    <input type="text" name="name" placeholder="#FF6600" class="row">
                                </div>
                                <div class="span-large-6">
                                    <label>Danger color:</label>
                                    <input type="text" name="name" placeholder="#FF0000" class="row">
                                </div>
                                <div class="span-large-24"><hr/></div>
                            </div>
                            <div class="row">
                                <div class="span-large-6">
                                    <label>Red color:</label>
                                    <input type="text" name="name" placeholder="#FF0000" class="row">
                                </div>
                                <div class="span-large-6">
                                    <label>Green color:</label>
                                    <input type="text" name="name" placeholder="#00FF00" class="row">
                                </div>
                                <div class="span-large-6">
                                    <label>Blue color:</label>
                                    <input type="text" name="name" placeholder="#0000FF" class="row">
                                </div>
                                <div class="span-large-6">
                                    <label>Yellow color:</label>
                                    <input type="text" name="name" placeholder="#edcf53" class="row">
                                </div>
                                <div class="span-large-6">
                                    <label>Pink color:</label>
                                    <input type="text" name="name" placeholder="#FF66CC" class="row">
                                </div>
                                <div class="span-large-6">
                                    <label>Brown color:</label>
                                    <input type="text" name="name" placeholder="#8A5826" class="row">
                                </div>
                                <div class="span-large-6">
                                    <label>Orange color:</label>
                                    <input type="text" name="name" placeholder="#FF9933" class="row">
                                </div>
                                <div class="span-large-6">
                                    <label>Purple color:</label>
                                    <input type="text" name="name" placeholder="#751975" class="row">
                                </div>
                            </div>
                        </form>
                    </div>



                    <div class="section-item-main">
                        <div class="section-item">
                            <h3 id="grid-navigate">Grid System</h3>
                            <p></p>
                        </div>
                        <form class="main-form primary-form">
                            <div class="row">
                                <div class="span-large-12">
                                    <label>Number of columns:</label>
                                    <input type="number" min="1" step="1" value="24" name="shoe-size" class="row">
                                </div>
                                <div class="span-large-12">
                                    <div class="form-select" style="height: 70px;">
                                        <label class="label">Generate responsive columns
                                            <div class="select-style">
                                                <select>
                                                    <option value="select011">False</option>
                                                    <option value="select021">True</option>
                                                </select>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="span-large-12">
                                    <label>Vertical PADDING for each column:</label>
                                    <input type="text" name="name" placeholder="0px" class="row">
                                </div>
                                <div class="span-large-12">
                                    <label>Horizontal PADDING for each column:</label>
                                    <input type="text" name="name" placeholder="20px" class="row">
                                </div>
                                <div class="span-large-12">
                                    <label>Horizontal MARGIN for each column:</label>
                                    <input type="text" name="name" placeholder="0px" class="row">
                                </div>
                                <div class="span-large-12">
                                    <label>Horizontal MARGIN for each column:</label>
                                    <input type="text" name="name" placeholder="0px" class="row">
                                </div>
                                <div class="span-large-24"><hr/></div>
                            </div>
                            <div class="row">
                                <div class="span-large-8">
                                    <label>Brackpoint MINI:</label>
                                    <input type="text" name="name" placeholder="320px" class="row">
                                </div>
                                <div class="span-large-8">
                                    <label>Brackpoint SMALL:</label>
                                    <input type="text" name="name" placeholder="480px" class="row">
                                </div>
                                <div class="span-large-8">
                                    <label>Brackpoint MEDIUM:</label>
                                    <input type="text" name="name" placeholder="768px" class="row">
                                </div>
                                <div class="span-large-8">
                                    <label>Brackpoint LARGE:</label>
                                    <input type="text" name="name" placeholder="1024px" class="row">
                                </div>
                                <div class="span-large-8">
                                    <label>Brackpoint XLARGE:</label>
                                    <input type="text" name="name" placeholder="1200px" class="row">
                                </div>
                            </div>
                        </form>
                    </div>


                    <div class="section-item-main">
                        <div class="section-item">
                            <h3 id="border-navigate">Border radius</h3>
                            <p></p>
                        </div>
                        <form class="main-form primary-form">
                            <div class="row">
                                <div class="span-large-8">
                                    <label>Small radius:</label>
                                    <input type="text" name="name" placeholder="3px" class="row">
                                </div>
                                <div class="span-large-8">
                                    <label>Base radius:</label>
                                    <input type="text" name="name" placeholder="5px" class="row">
                                </div>
                                <div class="span-large-8">
                                    <label>Large radius:</label>
                                    <input type="text" name="name" placeholder="10px" class="row">
                                </div>
                            </div>
                        </form>
                    </div>


                    <div class="section-item-main">
                        <div class="section-item">
                            <h3 id="typography-navigate">Typography</h3>
                            <p></p>
                        </div>
                        <form class="main-form primary-form">
                            <div class="row">
                                <div class="span-large-8">
                                    <label>Font size:</label>
                                    <input type="text" name="name" placeholder="14px" class="row">
                                </div>
                                <div class="span-large-8">
                                    <label>Headings line height:</label>
                                    <input type="text" name="name" placeholder="1.1" class="row">
                                </div>
                                <div class="span-large-8">
                                    <label>Base line height:</label>
                                    <input type="text" name="name" placeholder="1.618" class="row">
                                </div>
                                <div class="span-large-8">
                                    <div class="form-select">
                                        <label class="label">Font family base
                                            <div class="select-style">
                                                <select>
                                                    <option value="select01">Font family, sans serif</option>
                                                    <option value="select02">Font family, serif</option>
                                                    <option value="select03">Font family, monospace</option>
                                                </select>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="span-large-8">
                                    <label>Font family base:</label>
                                    <input type="text" name="name" placeholder="@font-family-sans-serif" class="row">
                                </div>
                                <div class="span-large-8">
                                    <label>Font family, sans serif:</label>
                                    <input type="text" name="name" placeholder="'Arial', sans-serif" class="row">
                                </div>
                                <div class="span-large-12">
                                    <label>Font family, serif:</label>
                                    <input type="text" name="name" placeholder="Georgia, 'Times New Roman', Times, serif" class="row">
                                </div>
                                <div class="span-large-12">
                                    <label>Font family, monospace:</label>
                                    <input type="text" name="name" placeholder="Menlo, Monaco, Consolas, 'Courier New, monospace" class="row">
                                </div>
                            </div>
                        </form>
                    </div>


                    <!--<div class="section-item-main">-->
                        <!--<div class="section-item">-->
                            <!--<h3 id="feature-navigate">Feature</h3>-->
                            <!--<p></p>-->
                        <!--</div>-->
                        <!--<form class="main-form primary-form">-->
                            <!--<div class="row">-->
                                <!--<div class="span-large-8">-->
                                    <!--<label>color:</label>-->
                                    <!--<input type="text" name="name" placeholder="00aeef" class="row">-->
                                <!--</div>-->
                                <!--<div class="span-large-8">-->
                                    <!--<label>color:</label>-->
                                    <!--<input type="text" name="name" placeholder="505050" class="row">-->
                                <!--</div>-->
                                <!--<div class="span-large-8">-->
                                    <!--<label>color:</label>-->
                                    <!--<input type="text" name="name" placeholder="1F3A93" class="row">-->
                                <!--</div>-->
                                <!--<div class="span-large-24"><hr/></div>-->
                            <!--</div>-->
                        <!--</form>-->
                    <!--</div>-->


                    <div class="section-item-main">
                        <div class="section-item">
                            <h3 id="download-bottom-navigate">Download</h3>
                            <p></p>
                            <a class="button button-secondary" href="bowtie-1.0.0.zip">Download <span class="bowtie bowtie-download"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="js/scrollSpy.js"></script>
<script src="js/main.js"></script>

<script>
        $(function() {
            // Apparently click is better chan change? Cuz IE?
            $('input[type="checkbox"]').change(function(e) {
                var checked = $(this).prop("checked"),
                        container = $(this).parent(),
                        siblings = container.siblings();
                container.find('input[type="checkbox"]').prop({
                    indeterminate: false,
                    checked: checked
                });
                function checkSiblings(el) {
                    var parent = el.parent().parent(),
                            all = true;
                    el.siblings().each(function() {
                        return all = ($(this).children('input[type="checkbox"]').prop("checked") === checked);
                    });
                    if (all && checked) {
                        parent.children('input[type="checkbox"]').prop({
                            indeterminate: false,
                            checked: checked
                        });
                        checkSiblings(parent);
                    } else if (all && !checked) {
                        parent.children('input[type="checkbox"]').prop("checked", checked);
                        parent.children('input[type="checkbox"]').prop("indeterminate", (parent.find('input[type="checkbox"]:checked').length > 0));
                        checkSiblings(parent);
                    } else {
                        el.parents(".check-all").children('input[type="checkbox"]').prop({
                            indeterminate: true,
                            checked: false
                        });
                    }
                }
                checkSiblings(container);
            });
        });
    </script>

{/block}