{block content}

    <div class="getting-started">
        <div class="section-02">
            <div class="container">
                <div class="row jumbotron">
                    <div class="span-medium-16">
                        <p><span class="first-text">Getting started</span><br>It's time to try something new.<br>Because it's worth giving a shot.</p>
                    </div>
                    <div class="span-medium-8 text-right">
                        <span class="bowtie bowtie-logoiconbowtie color-white" style="font-size: 155px;"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container padding-bottom-50">
            <div class="row">
                <div class="span-large-8">
                    <div id="top-bound">
                        <div id="left">
                            <div id="sidebar">
                                <div class="side-bar">
                                    <input type="checkbox" id="show-sidebar">
                                    <label for="show-sidebar" class="show-side">Navigation<span class="bowtie bowtie-sipka"></span></label>
                                    <ul class="sidebar">
                                        <li><a href="#download-navigate">Download</a></li>
                                        <li><a href="#responsive-navigate">Responsive</a></li>
                                        <li><a href="#noneresponsive-navigate">Noneresponsive</a></li>
                                        <!--<li><a href="#-navigate">Side</a></li>-->
                                        <li><a href="#">Back to Top</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span-large-16">
                    <div class="section-item-main">
                        <h2>First step with Bowtie</h2>
                        <hr/>
                        <p></p>

                        <div class="section-item">
                            <h3 id="download-navigate">Download</h3>
                            <p class="getting-started-text">Create your perfect world based on Bowtie. Download and build from stable version (currently v1.0.0) or follow our easy form to customize framework as much as you want. We are also introducing Bowtie CDN for your comfort of usage.</p>
                            <div class="download-table clearfix">
                                <div class="table-left">
                                    <p class="table-head">Stable version</p>
                                    <p class="table-text">All you want for work in one package. Download ZIP file including Bowtie CSS files and also basic examples. Follow easy steps for installation and use the most intuitive CSS framework ever.</p>
                                    <a class="button button-secondary" href="bowtie-1.0.0.zip">Download <span class="bowtie bowtie-download padding-left-10"></span></a>
                                </div>
                                <div class="table-right">
                                    <p class="table-head">Bowtie generator</p>
                                    <p class="table-text">Would you like to choose components or edit some features of Bowtie? We've prepared generator where you're able to customize Bowtie to shape as you like. Compile & download in one click.</p>
                                    <a n:href="GenerateCss:" class="button button-secondary">Customize</a>
                                </div>
                            </div>
                            <!--<div class="cdn-table">-->
                                <!--<p class="table-head">Bowtie CDN</p>-->
                                <!--<p class="table-text">SOME TECHNICAL INFORMATIONS HOW TO USE CDN.</p>-->
                                <!--<pre>Some simple code in one line with description. <br>Don't forget to add "COPY" button to all code parts of this page.</pre>-->
                            <!--</div>-->

                        </div>

                        <div class="section-item">
                            <h3>Installation</h3>
                            <p>Just DOWNLOAD and BUILD.</p>
                        </div>

                        <div class="section-item">
                            <h3 id="responsive-navigate">Responsive</h3>
                            <p></p>
                        </div>
                        <div class="section-item">
                            <h3>&lt;/&gt;</h3>
                            <div class="pre">
                                <div class="copy-box">
                                    <div class="copy-text">
                                        <!--<!DOCTYPE html>
                                        <html lang="cs">
                                        <head>
                                            <meta charset="utf-8">
                                            <title>Bowtie - 1st website</title>
                                            <meta name="viewport" content="initial-scale=1,width=device-width, maximum-scale=1, minimum-scale=1,user-scalable=no">

                                            <link rel="stylesheet" href="css/bowtie.css"/>
                                        </head>
                                        <body>

                                        <div class="container">
                                            <div class="row">
                                                <div class="span-large-24">
                                                    <h1>Bowtoe <small>1st responzive website</small></h1>
                                                </div>
                                            </div>
                                        </div>

                                        </body>
                                        </html> -->
                                    </div>
                                    <a class="button button-copy">Copy</a>
                                </div>
                            <pre>
                                <code class="language-html" data-lang="html">
                                    <span class="el">
&lt;!DOCTYPE html&gt;
&lt;html <span class="pr">lang="</span><span class="ch">cs</span><span class="pr">"</span>&gt;
    &lt;head&gt;
        <span class="el">&lt;meta</span> <span class="pr">charset="</span><span class="ch">utf-8</span><span class="pr">"</span>&gt;
        &lt;title&gt;</span>Bowtie - 1st website<span class="el">&lt;/title&gt;
        &lt;meta</span> <span class="pr">name="</span><span class="ch">viewport</span><span class="pr">"</span> <span class="pr">content="</span><span class="ch">initial-scale=1,width=device-width, maximum-scale=1, minimum-scale=1,user-scalable=no</span><span class="pr">"</span><span class="el">&gt;

        &lt;link</span> <span class="pr">rel="</span><span class="ch">stylesheet</span><span class="pr">"</span> <span class="pr">href="</span><span class="ch">css/bowtie.css</span><span class="pr">"</span><span class="el">/&gt;
    &lt;/head&gt;
    &lt;body&gt;

    &lt;div</span> <span class="pr">class="</span><span class="ch">container</span><span class="pr">"</span><span class="el">&gt;
        &lt;div</span> <span class="pr">class="</span><span class="ch">row</span><span class="pr">"</span><span class="el">&gt;
            &lt;div</span> <span class="pr">class="</span><span class="ch">span-large-24</span><span class="pr">"</span><span class="el">&gt;
                &lt;h1&gt;</span>Bowtoe <span class="el">&lt;small&gt;</span>1st responzive website<span class="el">&lt;/small&gt;&lt;/h1&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;/body&gt;
&lt;/html&gt;</span></code>
                            </pre></div>
                        </div>

                        <div class="section-item">
                            <h3 id="noneresponsive-navigate">None responsive</h3>
                            <p></p>
                        </div>
                        <div class="section-item">
                            <h3>&lt;/&gt;</h3>
                            <div class="pre">
                                <div class="copy-box">
                                    <div class="copy-text">
                                        <!--<!DOCTYPE html>
                                        <html lang="cs">
                                        <head>
                                            <meta charset="utf-8"/>
                                            <title>Bowtie - 1st website</title>

                                            <link rel="stylesheet" href="css/bowtie-noneresponsive.css"/>
                                        </head>
                                        <body>

                                        <div class="container">
                                            <div class="row">
                                                <div class="span-24">
                                                    <h1>Bowtoe <small>1st NONE-responzive website</small></h1>
                                                </div>
                                            </div>
                                        </div>

                                        </body>
                                        </html>-->
                                    </div>
                                    <a class="button button-copy">Copy</a>
                                </div>

                            <pre>
                                <code class="language-html" data-lang="html">
                                    <span class="el">
&lt;!DOCTYPE html&gt;
&lt;html <span class="pr">lang="</span><span class="ch">cs</span><span class="pr">"</span>&gt;
    &lt;head&gt;
        <span class="el">&lt;meta</span> <span class="pr">charset="</span><span class="ch">utf-8</span><span class="pr">"</span>&gt;
        &lt;title&gt;</span>Bowtie - 1st website<span class="el">&lt;/title&gt;

        &lt;link</span> <span class="pr">rel="</span><span class="ch">stylesheet</span><span class="pr">"</span> <span class="pr">href="</span><span class="ch">css/bowtie-noneresponsive.css</span><span class="pr">"</span><span class="el">/&gt;
    &lt;/head&gt;
    &lt;body&gt;

    &lt;div</span> <span class="pr">class="</span><span class="ch">container</span><span class="pr">"</span><span class="el">&gt;
        &lt;div</span> <span class="pr">class="</span><span class="ch">row</span><span class="pr">"</span><span class="el">&gt;
            &lt;div</span> <span class="pr">class="</span><span class="ch">span-24</span><span class="pr">"</span><span class="el">&gt;
                &lt;h1&gt;</span>Bowtoe <span class="el">&lt;small&gt;</span>1st NONE-responzive website<span class="el">&lt;/small&gt;&lt;/h1&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;/body&gt;
&lt;/html&gt;</span></code>
                            </pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="{$basePath}/js/scrollSpy.js"></script>
<script src="{$basePath}/js/main.js"></script>
<script src="//cdn.jsdelivr.net/webshim/1.14.5/polyfiller.js"></script>
{/block}