{block content}

    <div class="getting-started">
        <div class="section-02">
            <div class="container">
                <div class="row jumbotron">
                    <div class="span-medium-16">
                        <p><span class="first-text">CSS Framework</span><br>wich makes your life easier<br>You can make quikly easy website in Pro quality.</p>
                    </div>
                    <div class="span-medium-8 text-right">
                        <span class="bowtie bowtie-logoiconbowtie color-white" style="font-size: 155px;"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container padding-bottom-50">
            <div class="row">
                <div class="span-large-8">
                    <div id="top-bound">
                        <div id="left">
                            <div id="sidebar">
                                <div class="side-bar">
                                    <input type="checkbox" id="show-sidebar">
                                    <label for="show-sidebar" class="show-side">Navigation<span class="bowtie bowtie-sipka"></span></label>
                                    <ul class="sidebar">
                                        <li><a href="#download-navigate">Download</a></li>
                                        <li><a href="#responsive-navigate">Responsive</a></li>
                                        <li><a href="#noneresponsive-navigate">Noneresponsive</a></li>
                                        <!--<li><a href="#-navigate">Side</a></li>-->
                                        <li><a href="#">Back to Top</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span-large-16">
                    <div class="section-item-main">
                        <h2>First step with Bowtie</h2>
                        <hr/>
                        <p></p>

                        <div class="section-item">
                            <h3 id="download-navigate">Download</h3>
                            <p></p>
                            <a class="button button-secondary" href="bowtie-1.0.0.zip">Download <span class="bowtie bowtie-download"></span></a>
                        </div>

                        <div class="section-item">
                            <h3>Installation</h3>
                            <p>Just DOWNLOAD and BUILD.</p>
                        </div>

                        <div class="section-item">
                            <h3 id="responsive-navigate">Responsive</h3>
                            <p></p>
                        </div>
                        <div class="section-item">
                            <h3>&lt;/&gt;</h3>
                            <pre>
                                <code class="language-html" data-lang="html">
                                    <span class="el">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;head&gt;
        &lt;title&gt;</span>Bowtie - 1st website<span class="el">&lt;/title&gt;

        &lt;meta</span> <span class="pr">name="</span><span class="ch">viewport</span><span class="pr">"</span> <span class="pr">content="</span><span class="ch">initial-scale=1,width=device-width, maximum-scale=1, minimum-scale=1,user-scalable=no</span><span class="pr">"</span><span class="el">&gt;

        &lt;link</span> <span class="pr">rel="</span><span class="ch">stylesheet</span><span class="pr">"</span> <span class="pr">href="</span><span class="ch">css/bowtie.css</span><span class="pr">"</span><span class="el">/&gt;
    &lt;/head&gt;
    &lt;body&gt;

    &lt;div</span> <span class="pr">class="</span><span class="ch">container</span><span class="pr">"</span><span class="el">&gt;
        &lt;div</span> <span class="pr">class="</span><span class="ch">row</span><span class="pr">"</span><span class="el">&gt;
            &lt;div</span> <span class="pr">class="</span><span class="ch">span-large-24</span><span class="pr">"</span><span class="el">&gt;
                &lt;h1&gt;</span>Bowtoe <span class="el">&lt;small&gt;</span>1st responzive website<span class="el">&lt;/small&gt;&lt;/h1&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;/body&gt;
&lt;/html&gt;
                                    </span>
                                </code>
                            </pre>
                        </div>

                        <div class="section-item">
                            <h3 id="noneresponsive-navigate">None responsive</h3>
                            <p></p>
                        </div>
                        <div class="section-item">
                            <h3>&lt;/&gt;</h3>
                            <pre>
                                <code class="language-html" data-lang="html">
                                    <span class="el">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;head&gt;
        &lt;title&gt;</span>Bowtie - 1st website<span class="el">&lt;/title&gt;

        &lt;link</span> <span class="pr">rel="</span><span class="ch">stylesheet</span><span class="pr">"</span> <span class="pr">href="</span><span class="ch">css/bowtie-noneresponsive.css</span><span class="pr">"</span><span class="el">/&gt;
    &lt;/head&gt;
    &lt;body&gt;

    &lt;div</span> <span class="pr">class="</span><span class="ch">container</span><span class="pr">"</span><span class="el">&gt;
        &lt;div</span> <span class="pr">class="</span><span class="ch">row</span><span class="pr">"</span><span class="el">&gt;
            &lt;div</span> <span class="pr">class="</span><span class="ch">span-24</span><span class="pr">"</span><span class="el">&gt;
                &lt;h1&gt;</span>Bowtoe <span class="el">&lt;small&gt;</span>1st NONE-responzive website<span class="el">&lt;/small&gt;&lt;/h1&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;/body&gt;
&lt;/html&gt;
                                    </span>
                                </code>
                            </pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{/block}